body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    background: #F5F5F5;
}
#profileCard {
    width: 300px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}
#profileImage {
    width: 120px;         
    height: 120px;        
    border-radius: 50%;   
    object-fit: cover;     
}

#profileCard:hover {
    transform: scale(1.03);
}
.controls {
    width: 260px;
    padding: 15px;
    background: white;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
button {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    cursor: pointer;
    border: none;
    background: #ff94bf;
    color: white;
    border-radius: 5px;
}
button:hover {
    background: #f50062;
}
.toggle-btn {
    background: #ff94bf;
}
.toggle-btn:hover {
    background: #f50062;
}
.active-status {
    background-color: #ff94bf;
    border: 2px solid #f50062;
}